[Unit]
Description=Adjust kiosk backlight every 2 minutes

[Timer]
OnBootSec=20s
OnUnitActiveSec=2min
AccuracySec=10s

[Install]
WantedBy=timers.target
